body, html {
    height: 100%;
    margin: 0;
  }
  
  .form-signin {
    width: 100%;
    max-width: 500px; /* Define a largura máxima do formulário */
    padding: 15px;
  }
  
  .form-control {
    width: 100%; /* Garante que os campos de entrada usem 100% da largura do contêiner pai */
  }
  
  .btn {
    width: 100%; /* Garante que os botões usem 100% da largura do contêiner pai */
  }
  